<!-- Newsletter Signup -->
<style type="text/css" media="screen">
    {{ partial "css/newsletter.css" . | safeCSS }}
</style>
<link href='https://fonts.googleapis.com/css?family=Verdana:400,700' rel='stylesheet' type='text/css'>

<div id="revue-embed" class="revue-embed">
    <form action="http://newsletter.markmukhin.com/add_subscriber" method="post" id="revue-form" name="revue-form"
          target="_blank">
        <div class="revue-header">
            <p>Drop your email here</p>
        </div>
        <div class="revue-description">
            <p>I will add you to my subscribers list, and send you new posts. I won't track you or sell anything.</p>
          </div>
        <div class="revue-input">
            <input type="email" class="button" name="member[email]" id="member_email" placeholder="live@long.org">
            <input type="submit" class="button" name="member[subscribe]" id="member_submit" value="Join">
        </div>
    </form>
</div>
